<div id="searchFormWrapper">
    <form id="searchForm" action="/result" method="post">
        <legend>Search for matches</legend>
        <label>Name a hobby you want your matches to have: </label>
        <input id="textinput" name=hobby1 placeholder="Hobby">
        <button id="searchButton" type="submit">Find me matches!</button>
    </form>
</div>