<div id="searchFormWrapper">
    <form id="searchForm" action="/result" method="post">
        <legend>Search for matches</legend>
        <label>Name a hobby you want your matches to have: </label>
        <input id="textinput" name=hobby1 placeholder="Choose a hobby from below" readonly>
        <button id="searchButton" type="submit">Find me matches!</button>
    </form>
    <div class="filterButtonContainer">
        <button class="filterButton" id="Lezen">Lezen</button>
        <button class="filterButton" id="Muziek">Muziek</button>
        <button class="filterButton" id="Outdoor">Outdoor</button>
        <button class="filterButton" id="Koken">Koken</button>
        <button class="filterButton" id="Dansen">Dansen</button>
        <button class="filterButton" id="Sport">Sport</button>
        <button class="filterButton" id="Gamen">Gamen</button>
        <button class="filterButton" id="Fotografie">Fotografie</button>
        <button class="filterButton" id="Huisdieren">Huisdieren</button>
        <button class="filterButton" id="DIY">DIY</button>
        <button class="filterButton" id="Instagram">Instagram</button>
        <button class="filterButton" id="Films">Films</button>
        <button class="filterButton" id="development">Development</button>
        <button class="filterButton" id="Festivals">Festivals</button>
    </div>
</div>

<!-- 
Grid met buttons en de buttons die worden aangeklikt active maken zodat er op gezogd kan worden -->