<div id="searchFormWrapper">
    <form id="searchForm" action="/result" method="post">
        <legend>Search for matches</legend>
        <label>Name a hobby you want your matches to have: </label>
        <input id="textinput" name=hobby1 placeholder="">
        <button id="searchButton" type="submit">Find me matches!</button>
    </form>
    <div class="filterButtonContainer">
        <button class="filterButton" id="filter1">Lezen</button>
        <button class="filterButton" id="filter2">Muziek</button>
        <button class="filterButton" id="filter3">Outdoor</button>
        <button class="filterButton" id="filter4">Koken</button>
        <button class="filterButton" id="filter5">Dansen</button>
        <button class="filterButton" id="filter6">Sport</button>
        <button class="filterButton" id="filter7">Gamen</button>
        <button class="filterButton" id="filter8">Fotografie</button>
        <button class="filterButton" id="filter9">Huisdieren</button>
        <button class="filterButton" id="filter10">DIY</button>
        <button class="filterButton" id="filter11">Sociale Media</button>
        <button class="filterButton" id="filter12">Films</button>
        <button class="filterButton" id="filter13">Development</button>
    </div>
</div>

<!-- 
Grid met buttons en de buttons die worden aangeklikt active maken zodat er op gezogd kan worden -->