<header class="container">
  <nav>
    <div id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="main-nav" class="top-part">
      <ul>
        <li>
          <a href="/">
            <img src="../assets/img/logo.png" alt="Amatch logo">
          </a>
        </li>
        <li>
          <a href="/profile">My profile</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/dashboard" class="<% if (route == 'dashboard') { %>active <% } %>">Dashboard</a>
        </li>
        <li>
          <a href="/finder" class="<% if (route == 'finder') { %>active <% } %>">Find singles</a>
        </li>
        <li>
          <a href="/matches" class="<% if (route == 'matches') { %>active <% } %>">Your matches</a>
        </li>
        <li>
          <a href="/chats" class="<% if (route == 'chats') { %>active <% } %>">Chats</a>
        </li>
      </ul>
    </div>
    <div class="bottom-part">
      <div class="title">
        <nav class="breadcrumbs">
          <a href="#">Home</a>
          <span>></span>
          <a href="#">Dashboard</a>
        </nav>
        <h1><%= route %></h1>
      </div>
      <form action="/log-out" method="post">
        <button type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>

<script src="../scripts/navigation.js"></script>