<header class="container">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img src="assets/img/logo.png" alt="Amatch logo">
        </a>
      </li>
      <li>
        <a href="/profile">My profile</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/finder">Find singles</a>
      </li>
      <li>
        <a href="/your-matches">Your matches</a>
      </li>
      <li>
        <a href="/chats">Chats</a>
      </li>
    </ul>
  </nav>
</header>