<footer>
  <div class="widgets">
    <section>
      <h3>About Amatch</h3>
      <p>Short story about what Amatch is can be placed in this footer widget kind of thing.</p>
    </section>
    <section>
      <h3>Navigation</h3>
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Matches</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Chats</a></li>
        <li><a href="#">Finder</a></li>
      </ul>
    </section>
  </div>
  <div id="copyrights">© Amatch 2020</div>
</footer>