<html>
    <head>
        <%- include('../../partials/pageHead') %>
    </head>
    <body>
        <header>
            <%- include('../../partials/pageHeader') %>
        </header>
        <main>
            <%- include('../../partials/form') %>
        </main>
        <footer>
            <section>
                <p>Indeling en Styling door Merlijn Bergevoet 2020 &copy;</p>
            </section>
        </footer>
    </body> 
</html>