<html>

<head>
    <%- include('../../partials/pageHead') %>
</head>

<body>
    <header>
        <%- include('../../partials/pageHeader') %>
    </header>
    <main class="container">
        <%- include('../../partials/form') %>
        <%- include('../../partials/pageFooter') %>
    </main>
    <script src="./scripts/filterScript.js"></script>
</body>
</html>