<html>

<head>
    <%- include('../../partials/pageHead') %>
</head>

<body>
    <header>
        <%- include('../../partials/pageHeader') %>
    </header>
    <div class="container">
        <main>
            <%- include('../../partials/form') %>
        </main>
    </div>
    <footer>
        <%- include('../../partials/pageFooter') %>
    </footer>
</body>

</html>