<html>
    <head>
        <%- include('../../partials/pageHead') %>
    </head>
    <body>
        <header>
            <%- include('../../partials/pageHeader') %>
        </header>
        <main>
            <%- include('../../partials/form') %>
        </main>
        <footer>
            <%- include('../../partials/pageFooter') %>
        </footer>
    </body> 
</html>