<html>
  <head>
    <%- include('../../partials/pageHead') %>
  </head>
<body>
  <%- include('../../partials/pageHeader') %>
  <main class="container">
    <%- include('../../partials/form') %>
  </main>
  <%- include('../../partials/pageFooter') %>
  <script src="./scripts/filterScript.js"></script>
</body>
</html>