<html>

<head>
    <%- include('../../partials/pageHead') %>
</head>
<body>
    <div class="container">
    <header>
        <%- include('../../partials/pageHeader') %>
    </header>
    <main>
        <div id="matchList">
            <%- include('../../partials/details') %>
        </div>
    </main>
    </div>      
    <footer>
        <%- include('../../partials/pageFooter') %>
    </footer>
</body>

</html>