<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/loginRegister.css">
</head>
<body>
  <div class="containerRegister">
    <a href="index.html"><img src="img/logo.png" alt=""></a>
    <div class="welcome">
      <h1 class="forgotpassword">Forgot Password?</h1>
      <p>If you have forgotten your password you can reset it here.</p>
    </div>
    <form method="post">
      <fieldset>
        <div class="formpjes">
        <label for="name">Email address:</label>
          <input type="text" name="name">
        </div>
        
        <div class="formpjes">
          <input id="submitButton" type="submit" value="Send my Password">
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>