<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/loginRegister.css">
</head>
<body>

    <div class="container">
        <a href="index.html"><img src="img/logo.png" alt=""></a>
        <div class="welcome">
          <h1>Welcome!</h1>
          <h2>Log in to use the Amore App.</h2>
        </div>
        <form action="/" method="post">
          <fieldset>
            <div class="formpjes">
              <input type="text" name="username" placeholder="Username" id="username">
            </div>
            <div class="formpjes">
              <input type="password" name="password" placeholder="Password" id="password">
            </div>
            
            <div class="rememberMe">
              <label class="container">Remember Me
                <input type="checkbox" checked="checked" class="checkmark">
                <span class="checkmark"></span>
              </label>
            </div>
            
            <button type="submit" id="submitButton">Login</button>
    
            <div class="formpjes">
              <a href="register"><label>Register now | </label></a>
              <a href="forgotPw"><label>Forgot password? | </label></a>
              <a href="allUsers"><label>SEE ALL USERS</label></a>
            </div>
          </fieldset>
        </form>
      </div>
</body>
</html>