<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/loginRegister.css">
</head>
<body>

    <div class="containerRegister">
        <a href="index.html"><img src="img/logo.png" alt=""></a>
        <div class="welcome">
          <h1 class="register">Register now!</h1>
        </div>
        <form action="/" method="post">
          <fieldset>
            <div class="formpjes">
            <label for="firstName">First name:</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div class="formpjes">
                <label for="lastName">Last name: </label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div class="formpjes">
              <label for="emailAdress">Email address:</label>
              <input type="email" name="emailAdress" id="emailAdress">
            </div>
            <div class="formpjes">
              <label for="phoneNumber">Phone Number:</label>
              <input type="number" name="phoneNumber" id="phoneNumber">
            </div>
            <div class="formpjes">
              <label for="hobbies">Hobbies:</label>
              <input type="text" name="hobbies" id="hobbies">
            </div>
            <div class="formpjes">
              <label for="education">Education:</label>
              <input type="text" name="education" id="education">
            </div>
            <div class="formpjes">
              <label for="job">Job:</label>
              <input type="text" name="job" id="job">
            </div>
            <div class="formpjes">
              <label for="profilePictures">Profile Picture:</label>
              <input type="file" name="profilePictures" id="profilePictures">
            </div>
            <div class="formpjes">
              <label for="age">Age:</label>
              <input type="number" name="age" id="age">
            </div>
            <div class="formpjes">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
            </div>
            <div class="formpjes">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
            </div>
            <div class="formpjes">
              <label for="confirmPassword" id="cPasswordLabel">Confirm Password:</label>
              <input type="text" name="confirmPassword" id="confirmPassword">
            </div>
            
            <button type="submit" id="submitButton">ADD</button>
          </fieldset>
        </form>
        <a href="/">LOGIN HERE</a><br>
        <a href="allUsers">ALL USERS</a>
      </div>
</body>
<script src="static/js/script.js"></script>
</html>