<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="styles/loginRegister.css">
</head>

<body>

  <div class="container">
    <div class="bgArea">
      <img src="assets/img/logo-with-text.png" alt="">
    </div>
    <div class="loginArea">
      <h1>Hello, Welcome back</h1>
      <form action="/" method="post">
        <div class="formpjes">
          <label for="">Username</label>
          <input type="text" name="username" placeholder="jvandijk" id="username">
        </div>
        <div class="formpjes">
          <label for="">Password</label>
          <input type="password" name="password" placeholder="********" id="password">
        </div>

        <div>
          <input type="checkbox" checked="checked">Remember Me
          <a href="forgotPw"><label>Forgot password?</label></a>

          <button type="submit" id="submitButton">Login</button>

          <div class="formpjes">
            Don't have an account yet? <a href="register"><label>Click here</label></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>