<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>

<body>

    <div class="container">
        <div class="bgArea">
            <img src="assets/img/logo-with-text.png" alt="">
        </div>
        <div class="loginArea">
            <img src="assets/img/logo-with-text.png" alt="">
            <h1>Hello, Welcome back</h1>
            <form action="/" method="post">
                <div class="formpjes">
                    <label for="">Username</label>
                    <input type="text" name="username" placeholder="jvandijk" id="username">
                </div>
                <div class="formpjes">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="********" id="password">
                </div>

                <div class="rememberMe">
                    <label class="container"><span class="rememberMe">Remember Me</span>
                        <input type="checkbox" class="checkmark">
                        <span class="checkmark"></span>
                    </label>
                    <a href="forgotPw" class="forgotPw"><label>Forgot password?</label></a>
                </div>

                <button type="submit" id="submitButton">Login</button>

                <div class="formpjes">
                    Don't have an account yet? <a href="register"><label>Click here</label></a>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>