<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="styles/loginRegister.css">
</head>
<body>

    <h1>Profile</h1>
    <p><%= users.username %></p>
    <p><%= users.password %></p>
    <a href="/log-out">Log out</a>
    <a href="/allUsers">All users</a>
    <button>DELETE</button>
    <button>EDIT</button>

</body>
</html>