<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="styles/loginRegister.css">
</head>
<body>

    <h1>Profile</h1>
    <p><%= users.username %></p>
    <p><%= users.password %></p>
    <a href="/log-out">Log out</a>
    <a href="/allUsers">All users</a>
    <button>EDIT</button>
    
    <form action="/change" method="post">
        <fieldset>
          <div class="formpjes">
            <input type="text" name="username" placeholder="Username" id="changeUsername" value="<%= users.username %>">
          </div>
          <!-- <div class="formpjes">
            <input type="text" name="changePassword" placeholder="Password" id="changePassword" value="<%= users.password %>">
          </div> -->
          
          <button type="submit" id="updateButton">Update!</button>
        </fieldset>
      </form>
</body>
</html>