<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="styles/register.css">
</head>

<body>
  <div class="container">
    <div class="loginArea">
      <a href="/"><img src="assets/img/logo-with-text.png" alt=""></a>
      <div class="welcome">
        <h1 class="register">Register to Amatch</h1>
        <h2 class="register">Find someone who likes what you like</h2>
      </div>
      <form action="/register" method="post">
        <div class="formpjes">
          <label for="firstName">First name</label>
          <input type="text" placeholder="Jan" name="firstName" id="firstName" required>
        </div>
        <div class="formpjes">
          <label for="lastName">Last name</label>
          <input type="text" placeholder="van Dijk" name="lastName" id="lastName" required>
        </div>
        <div class="formpjes">
          <label for="emailAdress">E-mail</label>
          <input type="email" placeholder="piet@example.com" name="emailAdress" id="emailAdress" required>
        </div>
        <div class="formpjes">
          <label for="phoneNumber">Phone number</label>
          <input type="number" placeholder="0612345678" name="phoneNumber" id="phoneNumber" required>
        </div>
        <div class="formpjes">
            <label for="gender">Gender</label>
          <div class="gender">
            <label for="male">Male</label><input type="radio" name="gender" id="m" value="m" required onClick="validateGender();">
            <label for="woman">Woman</label><input type="radio" name="gender" id="w" value="w" onClick="validateGender();">
          </div>
        </div>
        <div class="formpjes">
          <label for="age">Age</label>
          <input type="number" placeholder="21" name="age" id="age" min="18" max="120" required>
        </div>
        <!-- <div class="nextForm"> -->
        <div class="formpjes">
          <label for="education">Education</label>
          <input type="text" placeholder="University" name="education" id="education" required>
        </div>
        <div class="formpjes">
          <label for="job">Job</label>
          <input type="text" placeholder="Front-End Developer" name="job" id="job" required>
        </div>
          <div class="formpjes">
            <label for="hobbies">Hobbies</label>
            <select name="hobbies" multiple required id="selectHobbies">
              <div>
                <% hobbies.forEach(hobby => { %>
                <option value="<%= hobby._id %>"><%= hobby.name %></option>
                <% }) %>
              </div>
            </select>
          </div>
          <div class="formpjes" id='deezerArtistId'>
            <label for="username">Deezer Artist ID</label>
            <select name="deezerArtistId" id="deezerArtistId" required>
              <div>
                <option value="8706544">Dua Lipa</option>
                <option value="1147">Justin Timberlake</option>
                <option value="6160">Rick Astley</option>
                <option value="384236">Ed Sheeran</option>
                <option value="246791">Drake</option>
                <option value="106">Keane</option>
                <option value="1362735">Charlie Puth</option>
                <option value="7543848">Post Malone</option>
                <option value="987373">Ronnie Flex</option>
                <option value="7990708">Snelle</option>
              </div>
            </select>
          </div>
          <div class="formpjes">
            <label for="username">Username</label>
            <input type="text" placeholder="jvandijk" name="username" id="username" required>
          </div>
          <div class="formpjes">
            <label for="password">Password</label>
            <input type="password" placeholder="******" name="password" id="password" required>
          </div>
          <div class="formpjes">
            <label for="confirmPassword" id="cPasswordLabel">Confirm Password:</label>
            <input type="password" placeholder="******" name="confirmPassword" id="confirmPassword" required>
          </div>
          <div class="formpjes">
            <button type="submit" id="submitButton">Register to Amatch</button>
          </div>
          <div class="formpjes">
          </div>
          <div class="formpjes">
            <p>Already have an account? <a href="/">Return to login</a></p>
          </div>
        <!-- </div> --> 
    </form>
    </div>
  </div>
</body>
<script src="../scripts/form.js"></script>   
</html>