<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="styles/register.css">
</head>

<body>
  <div class="container">
    <div class="loginArea">
      <a href="/"><img src="assets/img/logo-with-text.png" alt=""></a>
      <div class="welcome">
        <h1 class="register">Register to Amatch</h1>
        <h2 class="register">Find someone who likes what you like</h2>
      </div>
      <form action="/register" method="post">
        <div class="formpjes">
          <label for="firstName">First name</label>
          <input type="text" placeholder="Jan" name="firstName" id="firstName">
        </div>
        <div class="formpjes">
          <label for="lastName">Last name</label>
          <input type="text" placeholder="van Dijk" name="lastName" id="lastName">
        </div>
        <div class="formpjes">
          <label for="emailAdress">E-mail</label>
          <input type="email" placeholder="piet@example.com" name="emailAdress" id="emailAdress">
        </div>
        <div class="formpjes">
          <label for="phoneNumber">Phone number</label>
          <input type="number" placeholder="0612345678" name="phoneNumber" id="phoneNumber">
        </div>
        <!-- <div class="nextForm"> -->
          <div class="formpjes">
            <label for="hobbies">Hobbies</label>
            <select name="hobbies" multiple>
              <div>
                <% hobbies.forEach(hobby => { %>
                <option value="<%= hobby._id %>"><%= hobby.name %></option>
                <% }) %>
              </div>
            </select>
          </div>
          <div class="formpjes">
            <label for="education">Education</label>
            <input type="text" placeholder="University" name="education" id="education">
          </div>
          <div class="formpjes">
              <label for="gender">Gender</label>
            <div class="gender">
              <label for="male">Male</label><input type="radio" name="gender" value="m">
              <label for="woman">Woman</label><input type="radio" name="gender" value="w">
            </div>
          </div>
          <div class="formpjes">
            <label for="job">Job</label>
            <input type="text" placeholder="Front-End Developer" name="job" id="job">
          </div>
          <!-- <div class="formpjes">
            <label for="profilePictures">Profile Picture:</label>
            <input type="file" name="profilePictures" id="profilePictures">
          </div> -->
          <div class="formpjes">
            <label for="age">Age</label>
            <input type="number" placeholder="21" name="age" id="age">
          </div>
          <div class="formpjes">
            <label for="username">Deezer Artist ID</label>
            <input type="text" placeholder="" name="deezerArtistId" id="deezerArtistId">
          </div>
          <div class="formpjes">
            <label for="username">Username</label>
            <input type="text" placeholder="jvandijk" name="username" id="username">
          </div>
          <div class="formpjes">
          </div>
          <div class="formpjes">
            <label for="password">Password</label>
            <input type="password" placeholder="******" name="password" id="password">
          </div>
          <div class="formpjes">
            <label for="confirmPassword" id="cPasswordLabel">Confirm Password</label>
            <input type="text" placeholder="******" name="confirmPassword" id="confirmPassword">
          </div>
          <div class="formpjes">
            <p>Already have an account? <a href="/">Return to login</a></p>
          </div>
          <div class="formpjes">
            <button type="submit" id="submitButton" formaction="/register">Register to Amatch</button>
          </div>
        <!-- </div> --> 
    </form>
    </div>
  </div>
</body>
<script src="../scripts/form.js"></script>   
</html>