<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="styles/liking.css">
  <%- include('../partials/pageHead') %>
</head>
<body>
  <%- include('../partials/pageHeader') %>
  <div class="container">
    <main id="content">
      Dashboard
    </main>
    <%- include('../partials/pageFooter') %>
    </div>
</body>
</html>