<html>

<head>
    <%- include('../partials/head') %>
</head>
<header>
    <%- include('../partials/header') %>
</header>

<body>
    <main>
        <%- include('../partials/form') %>
    </main>
</body>
<footer>
    <section>
        <p>Indeling en Styling door Merlijn Bergevoet 2020 &copy;</p>
    </section>
</footer>

</html>