<html>
<%- include('../partials/pageHead') %>
<body>
  <%- include('../partials/pageHeader') %>
  <main class="container">
    Profile page   
    <%- include('../partials/pageFooter') %>
  </main>
</body>
</html>