body {
  padding: 0;
  margin: 0;
}

/* @media only screen and (min-width: 1450px) { */
  div.container {
    display: grid;
    height: 100%;
    grid-template-columns: [bgArea] 70% [loginArea] 30%;
    /* grid-template-columns: [bgArea] 70vw [loginArea] 30vw; */
  }

  h1 {
    color: #9646D4; 
    font-size: 3.6rem;
  }

  /* Background Area */
  div.bgArea {
    grid-area: bgArea;
    background-image: url('../assets/img/login-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
  }

  div.bgArea img {
    margin-top: 5rem;
    width: 15rem;
  }
  /* --------------- */

  /* Login Area */
  div.loginArea {
    grid-area: loginArea;
    margin: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  div.loginArea input {
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    padding: 1.3rem;
    width: 100%;
    border-radius: 0.5rem;;
  }

  div.loginArea label {
    padding: 0.6rem 0;
  }

  div.loginArea input, div.loginArea label {
    display: block;
  }
/* } */